<div class="container">
  <h1>{{advancement.name}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Requirement
        </th>
        <th>
          Completed
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="completeRequirement(a)" ng-repeat="a in advancement track by $index | orderBy:req_order">
        <td>
          {{a.req_number}}
        </td>
        <td>
          {{a.description}}
        </td>
        <td>
          <div ng-if="a.completed_date">
            <span class="glyphicon glyphicon-ok ok"></span>
          </div>
          <div ng-if="a.completed_date === null">
            <span ></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
