<div class="container">
  <h1>{{advancement.name}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Requirement
        </th>
        <th>
          Completed
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="completeRequirement(req)" ng-repeat="req in advancementRequirements track by $index | orderBy:req_order">
        <td>
          {{req.req_number}}
        </td>
        <td>
          {{req.description}}
        </td>
        <td>
          <div ng-if="req.completed_date">
            <span class="glyphicon glyphicon-ok ok"></span>
          </div>
          <div ng-if="req.completed_date === null">
            <span ></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
