<div class="container">
  <h1>{{advancement.name}}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Requirement
        </th>
        <th>
          Completed
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="req in advancement.requirements track by $index">
        <td>
          {{}}
        </td>
        <td>
          {{req.description}}
        </td>
        <td>
<!--           {{req.completed}} -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
