<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Full Detail</th>
      </tr>
    </thead>
      <tbody>
        <tr ng-click="showScout(scout)" ng-dblclick="showFullDetail(scout)" ng-repeat="scout in scouts">
          <td>{{scout.first_name}} {{scout.last_name}}</td>
          <td>{{scout.rank}}</td>
          <td><button class="btn" ng-click="showFullDetail(scout, $event)">Full Detail</button></td>
        </tr>
      </tbody>
  </table>
</div>
